body {
  background-color: black;
}

* {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --text-size: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.widget-container {
  --margin: 15px;
  --padding: 15px;
  display: flex;
  background-color: rgba(32, 32, 32, 0.50);
  height: calc(100% - 2 * var(--padding) - 2 * var(--margin));
  width: calc(100% - 2 * var(--padding) - 2 * var(--margin));
  position: absolute;
  left: 0px;
  top: 0px;
  padding: var(--padding);
  margin: var(--margin);
  border-radius: 30px;
}

.col-left {
  height: 100%;
  aspect-ratio: 1;
}

.col-right {
  --left-width: 154px;
  --horizontal-margin: 25px;
  margin: 0 0 0 var(--horizontal-margin);
  padding: 0.5% 0px;
  width: 100%;
  overflow-x: visible;
  overflow-y: visible;
  position: relative;
}

.art-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: black calc(var(--text-size) * 0.075) calc(var(--text-size) * 0.075) calc(var(--text-size) * 0.25);
  position: relative;
  z-index: 9;
}

.art {
  background-color: gray;
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
}

.song-info-container {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.title-container, .artist-container {
  position: relative;
}

.scrollable {
  white-space: nowrap;
  position: absolute;
  width: 100%;
}

.title-container {
  height: 60%;
}

.artist-container {
  height: 40%;
}

h1 {
  --text-size-zoom: 1;
  margin: 0px;
  font-size: var(--text-size);
  font-weight: 700;
  text-shadow: black calc(var(--text-size) * 0.075) calc(var(--text-size) * 0.075) calc(var(--text-size) * 0.125);
}

h2 {
  --text-size-zoom: 0.66;
  margin: 0px;
  font-size: calc(var(--text-size) * var(--text-size-zoom));
  font-weight: 400;
  text-shadow: black calc(var(--text-size) * 0.0375) calc(var(--text-size) * 0.0375) calc(var(--text-size) * 0.075);
}

.scrollback {
  margin-left: calc(100% + var(--text-size));
}

.scroll-edgemask-right {
  mask-image: linear-gradient(to right, #FFFF 95%, #0000);
  -webkit-mask-image: linear-gradient(to right, #FFFF 95%, #0000);
}

.scroll-edgemask-both {
  mask-image: linear-gradient(to right, #0000, #FFFF 5%, #FFFF 95%, #0000);
  -webkit-mask-image: linear-gradient(to right, #0000, #FFFF 5%, #FFFF 95%, #0000);
}

@keyframes scroll-main {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: calc(0px - var(--scrollback-amount) - 3 * var(--text-size));
  }
}

@keyframes scroll-scrollback {
  from {
    margin-left: calc(var(--scrollback-amount) + 3 * var(--text-size) * var(--text-size-zoom));
  }
  to {
    margin-left: 0px;
  }
}

@keyframes scroll-edgemask-right-to-both {
  0%   {mask-image: linear-gradient(to right, #FFFFFFFF, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #FFFFFFFF, #FFFF 5%, #FFFF 95%, #0000);}
  10%  {mask-image: linear-gradient(to right, #E5E5E5E5, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #E5E5E5E5, #FFFF 5%, #FFFF 95%, #0000);}
  20%  {mask-image: linear-gradient(to right, #CCCCCCCC, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #CCCCCCCC, #FFFF 5%, #FFFF 95%, #0000);}
  30%  {mask-image: linear-gradient(to right, #B2B2B2B2, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #B2B2B2B2, #FFFF 5%, #FFFF 95%, #0000);}
  40%  {mask-image: linear-gradient(to right, #99999999, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #99999999, #FFFF 5%, #FFFF 95%, #0000);}
  50%  {mask-image: linear-gradient(to right, #7F7F7F7F, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #7F7F7F7F, #FFFF 5%, #FFFF 95%, #0000);}
  60%  {mask-image: linear-gradient(to right, #66666666, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #66666666, #FFFF 5%, #FFFF 95%, #0000);}
  70%  {mask-image: linear-gradient(to right, #4C4C4C4C, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #4C4C4C4C, #FFFF 5%, #FFFF 95%, #0000);}
  80%  {mask-image: linear-gradient(to right, #33333333, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #33333333, #FFFF 5%, #FFFF 95%, #0000);}
  90%  {mask-image: linear-gradient(to right, #19191919, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #19191919, #FFFF 5%, #FFFF 95%, #0000);}
  100% {mask-image: linear-gradient(to right, #00000000, #FFFF 5%, #FFFF 95%, #0000); -webkit-mask-image: linear-gradient(to right, #00000000, #FFFF 5%, #FFFF 95%, #0000);}
}

.widget-container.hiding {
  animation: 1s cubic-bezier(1,0,1,1) forwards widget-container-hide;
}

.widget-container.unhiding {
  animation: 0.5s cubic-bezier(0,0,0,1) backwards widget-container-unhide;
}

.hidden {
  display: none;
}

@keyframes widget-container-hide {
  from {
    display: flex;
    top: 0;
    opacity: 100%;
  }
  to {
    display: flex;
    top: 100%;
    opacity: 25%;
  }
}

@keyframes widget-container-unhide {
  from {
    display: flex;
    top: 100%;
    opacity: 25%;
  }
  to {
    display: flex;
    top: 0;
    opacity: 100%;
  }
}

.art.old {
  animation: 250ms ease-in-out forwards art-switch-old;
}

.art.new {
  animation: 250ms ease-in-out forwards art-switch-new;
}

.song-info-container.old {
  animation: 250ms ease-in-out forwards text-switch-old;
}

.song-info-container.new {
  animation: 250ms ease-in-out forwards text-switch-new;
}

@keyframes art-switch-old {
  from {
    background-position-x: : center;
    z-index: 10;
  }
  to {
    background-position-x: calc(50% - var(--text-size));
    z-index: 10;
  }
}

@keyframes art-switch-new {
  from {
    opacity: 0%;
    background-position-x: calc(50% + var(--text-size));
    z-index: 11;
  }
  to {
    opacity: 100%;
    background-position-x: center;
    z-index: 11;
  }
}

@keyframes text-switch-old {
  from {
    left: 0px;
    opacity: 100%;
    z-index: 7;
  }
  to {
    left: calc(0px - var(--text-size));
    opacity: 0%;
    z-index: 7;
  }
}

@keyframes text-switch-new {
  from {
    left: var(--text-size);
    opacity: 0%;
    z-index: 8;
  }
  to {
    left: 0px;
    opacity: 100%;
    z-index: 8;
  }
}