body {
  background-color: black;
}

* {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --text-size: 50px;
}

.widget-container {
  --margin: 15px;
  --padding: 15px;
  display: flex;
  background-color: rgba(32, 32, 32, 0.50);
  height: calc(100% - 2 * var(--padding) - 2 * var(--margin));
  width: calc(100% - 2 * var(--padding) - 2 * var(--margin));
  position: absolute;
  left: 0px;
  top: 0px;
  padding: var(--padding);
  margin: var(--margin);
  border-radius: 30px;
}

.col-left {
  height: 100%;
  aspect-ratio: 1;
}

.col-right {
  --left-width: 154px;
  --horizontal-margin: 30px;
  flex-direction: col;
  margin: 0 var(--horizontal-margin) 0 var(--horizontal-margin);
  width: calc(100% - 2 * var(--horizontal-margin) - var(--left-width));
  overflow-x: hidden;
  overflow-y: hidden;
}

.art-container {
  background-color: gray;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: black calc(var(--text-size) * 0.075) calc(var(--text-size) * 0.075) calc(var(--text-size) * 0.25);
}

.art {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.title-container, .artist-container {
  position: relative;
}

.scrollable {
  white-space: nowrap;
  position: absolute;
  width: 100%;
}

.title-container {
  height: 55%;
}

h1 {
  margin: 1% 0px;
  font-size: var(--text-size);
  font-weight: 700;
  text-shadow: black calc(var(--text-size) * 0.075) calc(var(--text-size) * 0.075) calc(var(--text-size) * 0.125);
}

h2 {
  margin: 1% 0px;
  font-size: calc(var(--text-size) * 0.66);
  font-weight: 400;
  text-shadow: black calc(var(--text-size) * 0.0375) calc(var(--text-size) * 0.0375) calc(var(--text-size) * 0.075);
}

.scrollback {
  margin-left: calc(100% + var(--text-size));
}